@model DarkGalaxyProject.Models.EnergyPlanetViewModel

@{
    ViewData["Title"] = "BuildShip";
}

<h1>System @Model.Position - @Model.Type</h1>

<h4>Energy planet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <span>Planet name: @Model.Name</span><br />
        <span>Position @Model.Position</span><br />
        <span>Type @Model.Type</span><br />
        <span>Fuel to energy center -----> Level: @Model.FuelToEnergyCenter.Level, Production -----> @Model.FuelToEnergyCenter.Production , Energy Cost -----> @Model.FuelToEnergyCenter.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.FuelToEnergyCenter.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
        <span>GeothermalPlant -----> Level: @Model.GeothermalPlant.Level, Production -----> @Model.GeothermalPlant.Production , Energy Cost -----> @Model.GeothermalPlant.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.GeothermalPlant.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
        <span>SolarPanel -----> Level: @Model.SolarPanel.Level, Production -----> @Model.SolarPanel.Production , Energy Cost -----> @Model.SolarPanel.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.SolarPanel.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
