@model DarkGalaxyProject.Models.ResourcePlanetViewModel

@{
    ViewData["Title"] = "BuildShip";
}

<h1>System @Model.Position - @Model.Type</h1>

<h4>Resource planet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <span>Planet name: @Model.Name</span><br />
        <span>Position @Model.Position</span><br />
        <span>Type @Model.Type</span><br />
        <span>CrystalMine -----> Level: @Model.CrystalMine.Level, Production -----> @Model.CrystalMine.Production , Energy Cost -----> @Model.CrystalMine.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" id="buildingId" name="buildingId" value=@Model.CrystalMine.Id>
            <input type="hidden" id="systemId" name="systemId" value=@Model.SystemId>
            <input type="hidden" id="planetType" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>

        <button onclick="setup()" id="submit">Level Up</button>
        <p id="timer">j</p>

        <span>FuelGenerator -----> Level: @Model.FuelGenerator.Level, Production -----> @Model.FuelGenerator.Production , Energy Cost -----> @Model.FuelGenerator.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.FuelGenerator.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
        <span>TitaniumMine -----> Level: @Model.TitaniumMine.Level, Production -----> @Model.TitaniumMine.Production , Energy Cost -----> @Model.TitaniumMine.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.TitaniumMine.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
        <span>CrystalStorage -----> Level: @Model.CrystalStorage.Level, ResourceCapacity -----> @Model.CrystalStorage.ResourceCapacity , Energy Cost -----> @Model.CrystalStorage.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.CrystalStorage.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
        <span>FuelStorage -----> Level: @Model.FuelStorage.Level, ResourceCapacity -----> @Model.FuelStorage.ResourceCapacity , Energy Cost -----> @Model.FuelStorage.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.FuelStorage.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
        <span>TitaniumStorage -----> Level: @Model.TitaniumStorage.Level, ResourceCapacity -----> @Model.TitaniumStorage.ResourceCapacity , Energy Cost -----> @Model.TitaniumStorage.EnergyCost</span><br />
        <form action="LevelUp" method="post">
            <input type="hidden" name="buildingId" value=@Model.TitaniumStorage.Id>
            <input type="hidden" name="systemId" value=@Model.SystemId>
            <input type="hidden" name="planetType" value=@Model.PlanetType>
            <div class="form-group">
                <input type="submit" value="Level Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        var counter = 0;
        var timeleft = 5;
        //need a table in the db (or property within the entity) for upgrade time

        function convertSeconds(s) {
            var min = Math.floor(s / 60);
            var sec = s % 60;
            if (min < 10) {
                min = '0' + min;
            }
            if (sec < 10) {
                sec = '0' + sec;
            }
            return min + ':' + sec;
        }

        function setup() {

            document.getElementById('timer').innerText = convertSeconds(timeleft);

            var _tick = setInterval(function () {
                counter++;
                document.getElementById('timer').innerText = convertSeconds(timeleft - counter);
                if (counter >= timeleft) {
                    clearInterval(_tick);
                    console.log('-_-');
                    $(document).ready(function () {
                        $("#submit").click(function () {
                            var buildingId = $("#buildingId").val();
                            var systemId = $("#systemId").val();
                            var planetType = $("#planetType").val();

                            var datastring = "buildingId=" + buildingId + "&systemId=" + systemId + "&planetType=" + planetType;

                            $.ajax({
                                type: "post",
                                url: "LevelUp",
                                data: datastring
                            });
                        });
                    });
                }
            }, 1000);
        }

        //logic for when the timer reaches 0
        //update database accordingly
    </script>
}
