@model DarkGalaxyProject.Models.Planet.PlanetViewModel

@{
    ViewData["Title"] = "Planet View";
}

<h1>Planet @Model.Position - @Model.Type</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <span>Planet name: @Model.Name</span><br />
        <span>Position: @Model.Position</span><br />
        <span>Type @Model.Type</span><br />
        <span>Factories---> Level: @Model.Factories.Level, Income -----> @Model.Factories.Income, Upgrade Cost -----> @Model.Factories.UpgradeCost, Upgrade Time ------> @Model.Factories.UpgradeTimeLength</span><br />
        <form>
            <input id="buildingId" type="hidden" name="buildingId" value=@Model.Factories.Id>
            <input id="planetId" type="hidden" name="planetId" value=@Model.Id>
            <div class="form-group">
                <input id="input" onclick="setup()" value="Level Up" class="btn btn-primary" />
            </div>
        </form>

        <p id="timer"></p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function CheckUpgradeTime(upgradeTime) {
            if (upgradeTime != null) {
                console.log('UpgradeTime is not null');
                setup();
            }
            else {
                console.log('UpgradeTime is null');
            }
        }

        function SetUpgradeTime() {
            $(document).ready(function () {
                console.log('SetUpgradeTime');
                var buildingId = $("#buildingId").val();
                var planetId = $("#planetId").val();
                var datastring = "buildingId=" + buildingId + "&planetId=" + planetId;
                $.ajax({
                    type: "post",
                    url: "SetUpgradeTime",
                    data: datastring
                })
            })
        }

        function NullifyUpgradeTime() {
            $(document).ready(function () {
                console.log('NullifyUpgradeTime');
                var buildingId = $("#buildingId").val();
                var planetId = $("#planetId").val();
                var datastring = "buildingId=" + buildingId + "&planetId=" + planetId;
                $.ajax({
                    type: "post",
                    url: "NullifyUpgradeTime",
                    data: datastring
                })
            })
        }

        var counter = 0;
        //Factories.UpgradeTime = Date.now() + Factories.UpgradeTimeLength
        //timeleft = UpgradeTime - Date.now()
        //have to do a post request to change the UpgradeTime of the factories first, so I can use this logic
        //If i refresh the page though the time would still disappear and nothing will happen when the UpgradeTime == Date.now()
        //I need another function activating on page load checking if the property UpgradeTime is not null
        //Upon a successful upgrade change the UpgradeTime property back to null
        function convertSeconds(s) {
            var min = Math.floor(s / 60);
            var sec = s % 60;
            if (min < 10) {
                min = '0' + min;
            }
            if (sec < 10) {
                sec = '0' + sec;
            }
            return min + ':' + sec;
        }
        function setup() {
            SetUpgradeTime();
            var timeleft = 0;
            timeleft = ((Date.parse('@(Model.Factories.UpgradeTime.HasValue ? Model.Factories.UpgradeTime.Value : DateTime.Now)')).getTime() - Date.now().getTime()) / 1000;

            document.getElementById('timer').innerText = convertSeconds(timeleft);
            var _tick = setInterval(function () {
                counter++;
                document.getElementById('timer').innerText = convertSeconds(timeleft - counter);
                if (counter >= timeleft) {
                    clearInterval(_tick);
                    console.log('-_-');
                    $(document).ready(function () {
                        var buildingId = $("#buildingId").val();
                        var planetId = $("#planetId").val();
                        var datastring = "buildingId=" + buildingId + "&planetId=" + planetId;
                        $.ajax({
                            type: "post",
                            url: "LevelUp",
                            data: datastring
                        });
                        NullifyUpgradeTime();
                        setTimeout(function () { location.reload(); }, 200); //If I don't set timeout sometimes the level still shows the same
                    });
                }
            }, 1000);
        }
    </script>
}
