@model DarkGalaxyProject.Models.Planet.PlanetViewModel

@{
    ViewData["Title"] = "Planet View";
}

<h1>Planet @Model.Position - @Model.Type</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <span>Planet name: @Model.Name</span><br />
        <span>Position: @Model.Position</span><br />
        <span>Type @Model.Type</span><br />
        <span>Factories---> Level: @Model.Factories.Level, Income -----> @Model.Factories.Income, Upgrade Cost -----> @Model.Factories.UpgradeCost, Upgrade Time ------> @Model.Factories.UpgradeTimeLength</span><br />
        <form>
            <input id="buildingId" type="hidden" name="buildingId" value=@Model.Factories.Id>
            <input id="planetId" type="hidden" name="planetId" value=@Model.Id>
            <div class="form-group">
                <input id="input" onclick="initialUpgrade()" value="Level Up" class="btn btn-primary" />
            </div>
        </form>

        <p id="timer"></p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            if ('@Model.Factories.UpgradeFinishTime' != '') {
                console.log('UpgradeTime is not null');
                upgrade();
            }
            else {
                console.log('UpgradeTime is null');
            }
        }

        function SetUpgradeTime() {
            $(document).ready(function () {
                console.log('SetUpgradeTime');
                console.log(new Date().getTime());
                var buildingId = $("#buildingId").val();
                var planetId = $("#planetId").val();
                var datastring = "buildingId=" + buildingId + "&planetId=" + planetId;
                $.ajax({
                    type: "post",
                    url: "SetUpgradeTime",
                    data: datastring
                })
            })
        }

        function NullifyUpgradeTime() {
            $(document).ready(function () {
                console.log('NullifyUpgradeTime');
                var buildingId = $("#buildingId").val();
                var planetId = $("#planetId").val();
                var datastring = "buildingId=" + buildingId + "&planetId=" + planetId;
                $.ajax({
                    type: "post",
                    url: "NullifyUpgradeTime",
                    data: datastring
                })
            })
        }

        var counter = 0;
        //If i refresh the page though the time would still disappear and nothing will happen when the UpgradeTime == Date.now()
        //I need another function activating on page load checking if the property UpgradeTime is not null
        function convertSeconds(s) {
            var min = Math.floor(s / 60);
            var sec = Math.floor(s % 60);
            if (min < 10) {
                min = '0' + min;
            }
            if (sec < 10) {
                sec = '0' + sec;
            }
            return min + ':' + sec;
        }
        var dateString = '@(Model.Factories.UpgradeFinishTime.HasValue ? Model.Factories.UpgradeFinishTime.Value : null)';
            var updateStartDateString = '@(Model.Factories.UpgradeStartTime.HasValue ? Model.Factories.UpgradeStartTime.Value : null)';

        function initialUpgrade() {
            if (dateString == '' && updateStartDateString == '') {
                $(document).ready(function () {
                    var buildingId = $("#buildingId").val();
                    var planetId = $("#planetId").val();
                    var datastring = "buildingId=" + buildingId + "&planetId=" + planetId;
                    $.ajax({
                        type: "post",
                        url: "StartUpgrade",
                        data: datastring
                    });
                    SetUpgradeTime();
                    upgrade();
                });
                setTimeout(function () { location.reload(); }, 200); //If I don't set timeout sometimes the timer still isn't out
            }
        }

        function upgrade() {
            var timeleft = 0;
            if (dateString != '') {
                var oneSplit = dateString.split(' ');
                var year = oneSplit[0].split('/')[2];
                var month = oneSplit[0].split('/')[1];
                var day = oneSplit[0].split('/')[0];
                var hour = oneSplit[1].split(':')[0];
                var minutes = oneSplit[1].split(':')[1];
                var seconds = oneSplit[1].split(':')[2];

                var upgradeDate = new Date(year, month - 1, day, hour, minutes, seconds);

                oneSplit = updateStartDateString.split(' ');
                year = oneSplit[0].split('/')[2];
                month = oneSplit[0].split('/')[1];
                day = oneSplit[0].split('/')[0];
                hour = oneSplit[1].split(':')[0];
                minutes = oneSplit[1].split(':')[1];
                seconds = oneSplit[1].split(':')[2];

                var upgradeStartDate = new Date(year, month - 1, day, hour, minutes, seconds);

                timeleft = (upgradeDate.getTime() - new Date().getTime()) / 1000;

                console.log('data string - ' + dateString);
                console.log('upgrade date - ' + upgradeDate);
                console.log('timeleft - ' + timeleft);
                console.log('upgradeStartDate - ' + upgradeStartDate)
            }

            if (timeleft > 0) {
                document.getElementById('timer').innerText = convertSeconds(timeleft);
                var _tick = setInterval(function () {
                    counter++;
                    document.getElementById('timer').innerText = convertSeconds(timeleft - counter);
                    if (counter >= timeleft) {
                        clearInterval(_tick);
                        console.log('-_-');
                        levelUp();
                    }
                }, 1000);
            }

            if (timeleft <= 0 && dateString != '' && updateStartDateString != '') {
                levelUp();
            }

            function levelUp() {
                $(document).ready(function () {
                    var buildingId = $("#buildingId").val();
                    var planetId = $("#planetId").val();
                    var datastring = "buildingId=" + buildingId + "&planetId=" + planetId;
                    $.ajax({
                        type: "post",
                        url: "LevelUp",
                        data: datastring
                    });
                    NullifyUpgradeTime();
                    setTimeout(function () { location.reload(); }, 200); //If I don't set timeout sometimes the level still shows the same
                });
            }
        }
    </script>
}
