@using DarkGalaxyProject.Services.PlayerServices.Models
@model AllMessagesServiceModel

@{
    ViewData["Title"] = "Messages";
}

@if (TempData["Message"] != null)
{
    <h5>@TempData["Message"]</h5>
}

<h1>
    Messages
</h1>

<ul>
    @foreach (var message in Model.Messages)
    {
        <li>
            <span>@message.ReceiverName: @message.Title</span><br>
            <span>Time: @message.Time</span><br>
            <form method="post" asp-action="ReadMessage">
                <input hidden name="messageId" , value=@message.Id />
                <input type="submit" value="Read" />
            </form>
            @if (!message.Seen)
            {
                <h5>YOU HAVE NOT YET READ THIS MESSAGE</h5>
            }
        </li>
    }
</ul>

<a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="SendMessage">Write a new message</a>

<div class="row">
    <div class="col-md-6">
        <a asp-controller="Player" asp-action="Messages" asp-route-playerId="@Model.PlayerId" asp-route-page="@(Model.Page - 1)">Previous page</a>
        @for (int i = 1; i <= Model.AllPagesCount; i++)
        {
            <a asp-controller="Player" asp-action="Messages" asp-route-playerId="@Model.PlayerId" asp-route-page=@i>@i</a>
        }
        <a asp-controller="Player" asp-action="Messages" asp-route-playerId="@Model.PlayerId" asp-route-page="@(Model.Page + 1)">Next page</a>
    </div>
</div>