@using DarkGalaxyProject.Models.System
@model SystemPageViewModel

@{
    ViewData["Title"] = "Systems of the Dark Galaxy";
}

<h1>
    All systems
</h1>
<ul>
    @foreach (var system in Model.Systems)
    {
        <li>
            <span>Position: @system.Position</span><br>
            <span>Type: @system.Type</span><br>
            <a asp-controller="System" asp-action="Fleet" class="btn btn-block btn-primary" asp-route-systemId="@Model.CurrentSystemId">Send fleet</a>
            <a asp-controller="System" asp-action="ViewSystem" class="btn btn-block btn-primary" asp-route-ID="@system.Id">ViewSystem</a>
        </li>
    }
</ul>
<div class="row">
    <div class="col-md-6">
        <a asp-controller="System" asp-action="AllSystems" asp-route-page="@(Model.Page - 1)">Previous page</a>
        <a asp-controller="System" asp-action="AllSystems" asp-route-page="@(Model.Page + 1)">Next page</a>
    </div>
</div>