@using DarkGalaxyProject.Services.SystemServices
@model List<SystemServiceModel>

@{
    ViewData["Title"] = "My systems";
}

<h1>
    My systems
</h1>

<ul>
    @foreach (var system in Model)
    {
        <li>
            <span>Position: @system.Position</span><br>
            <span>Type: @system.Type</span><br>
            @foreach (var ship in system.Ships)
            {
                <span>HP: @ship.HP---------</span>
                <span>Damage: @ship.Damage---------</span>
                <span>Speed: @ship.Speed---------</span>
                <span>Storage: @ship.Storage---------</span>
                <span>Type: @ship.Type</span><br>
            }
            <form action="SwitchSystem" method="post">
                <input hidden name="systemId" value=@system.Id />
                <input type="submit" value="View system" />
            </form>
        </li>
    }
</ul>

    <a asp-area="" asp-controller="System" asp-action="AllFleets" >All fleets</a>
