@using DarkGalaxyProject.Data.Enums
@using DarkGalaxyProject.Models
@model SystemViewModel

@{
    ViewData["Title"] = $"System {Model.Position}";
}

<h1>System @Model.Position - @Model.Type</h1>

<h4>Planets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var planet in Model.Planets)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Planet" asp-action="ViewPlanet" asp-route-planetId="@planet.Id">Planet @planet.Name</a>
        }

        <a class="nav-link text-dark" asp-area="" asp-controller="System" asp-action="Fleet" asp-route-systemId="@Model.Id">Fleet</a>

        <span>Build ship</span>
        <form asp-action="BuildShip">
            <div class="form-group">
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<ShipType>()"></select>
            </div>
            <div class="form-group">
                <input asp-for="Id" hidden value=@Model.Id class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Build" class="btn btn-primary" />
            </div>
        </form>

        <span>Build Defence</span>
        <form asp-action="BuildDefence">
            <div class="form-group">
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<DefensiveStructureType>()"></select>
            </div>
            <div class="form-group">
                <input asp-for="Id" hidden value=@Model.Id class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Build" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
