@using DarkGalaxyProject.Services.SystemServices
@using DarkGalaxyProject.Models
@using Microsoft.AspNetCore.Identity
@model SystemServiceModel
@inject UserManager<Player> UserManager

@{
    ViewData["Title"] = $"System {Model.Position}";
}

<h1>System @Model.Position - @Model.Type</h1>

<h4>Belongs to: @(Model.UserName == null ? "No one" : Model.UserName)</h4>

<h4>Planets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var planet in Model.Planets)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Planet" asp-action="ViewPlanet" asp-route-planetId="@planet.Id">Planet @planet.Name</a>
        }

        <a class="nav-link text-dark" asp-area="" asp-controller="System" asp-action="Fleet" asp-route-systemId="@Model.Id">Fleet</a>

        @if (Model.PlayerId == UserManager.GetUserId(User))
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="System" asp-action="Shipyard" asp-route-systemId="@Model.Id">Shipyard</a>

            <a class="nav-link text-dark" asp-area="" asp-controller="System" asp-action="DefensiveStructureBuilder" asp-route-systemId="@Model.Id">DefensiveStructureBuilder</a>
        }
        else
        {
            //colonize here
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
