@using Microsoft.AspNetCore.Identity
@using DarkGalaxyProject.Data.Enums
@using DarkGalaxyProject.Data
@inject SignInManager<Player> SignInManager
@inject UserManager<Player> UserManager
@inject ApplicationDbContext dbContext

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DarkGalaxyProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        #mysystems {
            width: 20%;
            float: left;
        }
        ,
        #currentSystem {
            background-color: #fff;
            box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DarkGalaxyProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="Profile" asp-route-PlayerId="@UserManager.GetUserId(User)">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="System" asp-action="PlayerSystems" asp-route-PlayerId="@UserManager.GetUserId(User)">My systems</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="System" asp-action="AllSystems" asp-route-page=1>All systems</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Alliance" asp-action="Home">Alliance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="Messages" asp-route-playerId="@UserManager.GetUserId(User)">Messages</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auction" asp-action="All">Auction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="AllPlayers">All Players</a>
                            </li>
                            <li class="nav-item">
                                <p>@(dbContext.Resources.First(r => r.SystemId == UserManager.GetUserAsync(User).Result.CurrentSystemId && r.Type == ResourceType.MilkyCoin).Type.ToString() ?? null) - @((int?)dbContext.Resources.First(r => r.SystemId == UserManager.GetUserAsync(User).Result.CurrentSystemId && r.Type == ResourceType.MilkyCoin).Quantity ?? 0)</p>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_PlayerSystemsOverview" />
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DarkGalaxyProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
