@using DarkGalaxyProject.Models.Alliance

@model AllAlliancesViewModel

@{
    ViewData["Title"] = "All Alliances";
}

@if (TempData["Message"] != null)
{
    <h5>@TempData["Message"]</h5>
}

<ul>
    @foreach (var alliance in Model.Alliances)
    {
        <li>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <span>Name: @alliance.Name</span><br />
                    <span>Leader: @alliance.Leader</span>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Alliance" asp-action="Members" asp-route-allianceId="@alliance.Id">Members: @alliance.MembersCount</a>

                    @if (!Model.IsInAlliance)
                    {
                        <form asp-action="Apply">
                            <div class="form-group">
                                <input type="text" id="allianceId" name="allianceId" hidden value=@alliance.Id class="form-control" />
                                <input type="submit" value="Apply" class="btn btn-primary" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </li>
    }
</ul>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
