@using Microsoft.AspNetCore.Identity
@using DarkGalaxyProject.Data.Models
@using DarkGalaxyProject.Models.Alliance
@model MembersCandidatesViewModel
@inject UserManager<Player> UserManager

@{
    ViewData["Title"] = "Members";
}

@if (TempData["Message"] != null)
{
    <p> @TempData["Message"] </p>
}

<h2>Members:</h2>

<ul>
    @foreach (var member in Model.Members)
    {
    <li>
        <span>Player @member.UserName with @member.Systems systems</span>
        @if (member.Id == UserManager.GetUserId(User))
        {
            <form asp-action="Leave">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" id="playerId" name="playerId" hidden value=@member.Id class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Leave" class="btn btn-primary" />
                </div>
            </form>
        }
        @if (UserManager.GetUserId(User) == Model.AllianceLeaderId && member.Id != UserManager.GetUserId(User))
        {
            <form asp-action="PromoteToLeader">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" id="playerId" name="playerId" hidden value=@member.Id class="form-control" />
                    <input type="text" id="allianceId" name="allianceId" hidden value=@Model.AllianceId class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Promote to leader" class="btn btn-primary" />
                </div>
            </form>
        }
    </li>
    }
</ul>
        --------------------------------Candidates------------------------------------------ -
<ul>
    @foreach (var candidate in Model.Candidates)
    {
    <li>
        <span>Player @candidate.UserName with @candidate.Systems systems</span>
        @if (UserManager.GetUserId(User) == Model.AllianceLeaderId)
        {
            <form asp-action="AcceptCandidate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" id="allianceId" name="allianceId" hidden value=@Model.AllianceId class="form-control" />
                    <input type="text" id="candidateId" name="candidateId" hidden value=@candidate.Id class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Accept" class="btn btn-primary" />
                </div>
            </form>
            <form asp-action="RejectCandidate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="text" id="allianceId" name="allianceId" hidden value=@Model.AllianceId class="form-control" />
                    <input type="text" id="candidateId" name="candidateId" hidden value=@candidate.Id class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Reject" class="btn btn-primary" />
                </div>
            </form>
        }
    </li>
    }
</ul>